node_modules
.git
.github
.gitignore
.gitattributes

envs
*.env*
access.log
*.log
logs
routes/tniv/DB/match/matches.log
routes/tniv/group/membercount/store.json


Dockerfile
docker-compose.yml
.dockerignore


tests
resterm